*{
    font-family: sans-serif;
    list-style: none;
}

#products{
    display: flex;
    flex-wrap: wrap;
}

#products li{
   width: 20%;
   border: 1px solid black;
   margin: 5px;
   box-shadow: 1px 1px 1px 1px;
}

#products img{
    width: 250px;
    aspect-ratio: 3/2;
    object-fit: contain;
    display: flex;
    flex-wrap: wrap;
}

.open{
    width: 350px;
    box-shadow: 1px 1px 1px 1px;
    position: absolute;
    top: 50px;
    left: 100px;
    transform: translate(50%, 50%);
    background-color: white;
    display: none;
}
.open.active{
    display: block;
}
.btnn{
    position: relative;
    top: 80%;
    left: 83%;
}
.imgs{
    width: 100px;
}