

li{
    list-style: none;
    border: 1px solid red;
    display: inline-block;
    font-family: sans-serif;
    padding: 10px;
}
ul{
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}