
.d1{
    border: 1px solid black;
    width: 50%;
    margin: -2px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
.d1 img{
    width: 100%;
}
.d2{
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}
button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: blue;
}